@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "utilities";

@import "animations";

@import "~font-awesome/scss/font-awesome";
@import "~sweetalert2/src/sweetalert2";
.card {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);

    .card-title {
        text-align: center;
    }
}

body {
    box-sizing: border-box;
    &.fixed-nav {
        padding-top: 70px;
    }
    &.welcome {
        border-top: 5px solid $primary;
    }
}

.bordered-top {
    border-top: 4px solid $primary !important;
}
.bordered-left {
    border-left: 4px solid $primary !important;
}
